
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Greeting World</h1>
        <h2>This is a @ViewBag.StateMachine</h2>

        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
